.body{
    background-image: url(images.jpeg);
    background-size: cover;
    margin: 0;
}
.header{
    background-color: darkslategray;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: aqua;
    text-transform: uppercase;
}

.container{
    width: 80%;
    margin: auto;
}
.section{
    float: left;
    width: 70%;
    margin-bottom: 100px;
}
.aside{
    float: right;
    width: 25%;
}

.footer{
    background-color: blue;
    clear: both;
    padding: 50px 0;
    text-align: center;
}
